*{
margin:0px;
padding:0px;
box-sizing: border-box;
}

body{
overflow-x:hidden;
width: 100%;
background-color: #000;
}

/*HOME*/
.home{
background-image: url('images/red-black-man.jpg');
background-repeat:no-repeat;
background-size:cover;
height:100%;
width:100%;
}

.home h1{
color:#fff;
padding-top: 23%;
font-size: 150px;
font-family:'Acme', sans-serif;
}

/*NAVBAR*/
.navb{
width: 100%;
position: fixed;
margin :0px;
top: 0px;
background-color:#000;
transition: 0.4s;
}

.navb a{
display: inline-block;
padding: 17px 20px;
text-decoration: none;
position: relative;
color:#fff;
font-size: 20px; 
font-family: 'Poiret One', cursive;

}

.navb a:hover{
    background: linear-gradient(red, #000);
    transition: 0.6s all;
}

/*ABOUT*/
.abt{
padding-top: 5%;
background-color:#000;
padding-bottom: 5%;
}

.abt h2{
padding-top: 20%;
padding-bottom: 1%;
padding-left: 10px;
color:#fff;
font-size:30px;
}

.abt h4{
    font-size:25px;
    color:#fff;
    font-family: 'Poiret One', cursive;
    padding: 30px;
}

.abt .img{
height: 600px;
width: 100%;
}
