*{
margin:0px;
padding:0px;
box-sizing:border-box;
}

body{
overflow-x:hidden;
}

.home{
background-image: url('images/red-black-man.jpg');
background-repeat:no-repeat;
background-size:cover;
height:100%;
width:100%;
}

.nav{
padding-left:15px;
padding-top:7px;
margin:0px;
font-size:25px;
background-color:#000;
}

.nav a{
display: inline-block;
padding:10px;
text-decoration: none;
color:#fff;
}



h1{
color:#fff;
padding-top:10%;
font-size:180px;
font-family:'Acme', sans-serif;
}

.abt{
padding-top:10%;
background-color:#000;
padding-bottom:10%;
}


h2{
color:#fff;
font-size:30px;
}

.img{
height:70%;
width:70%;
}

h4{
font-size:25px;
color:#fff;
}
